[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "mc3d-{{project_name}}"
dynamic = ["version"]
description = ''
readme = "README.md"
requires-python = ">=3.9"
license = "MIT"
keywords = []
authors = [
  { name = "MC3D team", email = "mc3d@materialscloud.org" },
]
classifiers = [
  "Development Status :: 4 - Beta",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "Programming Language :: Python :: 3.13",
]

[tool.hatch.version]
path = "src/mc3d_{{project_name}}/__about__.py"

[tool.hatch.envs.docs]
dependencies = [
  "mkdocs",
  "mkdocs-material"
]

[tool.hatch.envs.docs.scripts]
build = "mkdocs build --clean --strict"
serve = "mkdocs serve --dev-addr localhost:8000"
